body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background: rgb(201, 201, 201);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(117, 99, 167, 0.2);
    padding: 20px;
    width: 300px;
  }
  
  #display {
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    border: 2px solid #585859;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap; /* Mengatur agar tombol berpindah baris jika penuh */
    justify-content: space-between; /* Jarak antar tombol */
    align-items: center; /* Rata tengah secara vertikal */
  }
  
  .btn {
    flex: 1 0 22%; /* Lebar tombol, memungkinkan 4 tombol per baris */
    margin: 5px; /* Jarak antar tombol */
    padding: 10px 20px; /* Ukuran tombol */
    text-align: center; /* Teks di tengah */
    border: 1px solid #66acd2; /* Gaya border */
    border-radius: 5px; /* Border melengkung */
    background-color: #4faad8; /* Warna latar */
    color: #333; /* Warna teks */
    font-size: 18px; /* Ukuran teks */
    cursor: pointer; /* Pointer saat hover */
  }
  
  
  button {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fff;
  }
  /* Warna default untuk tombol angka */
.number {
  background-color: #f0f8ff; /* Biru muda */
  color: #333; /* Warna teks gelap */
  border: 1px solid #fff; /* Border */
  transition: background-color 0.2s ease; /* Animasi transisi */
}

/* Warna tombol saat diklik */
.number:active {
  background-color: #add8e6; /* Biru lebih gelap */
  color: white; /* Teks putih saat tombol ditekan */
}

/* Warna untuk tombol operator */
.operator {
  background-color: #fed1cc; /* Merah muda */
  color: #333;
}

.operator:active {
  background-color: #ff7f7f; /* Merah lebih gelap */
  color: white;
}
